@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.BoardTile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    height: 10vh;
    margin-bottom: 1vw;

}

#check-button {
    font-size: 2vh;
    border-radius: 8px;
    height: 4vw;
    width: 4vw;
    align-self: center;
    /* margin-left: 0.5vw; */
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;


}

#check-button-container{
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .75vw;
}

.guess-number {
    margin-right: 2vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
    align-self: center;
    color: #8f8d8d;

}



