.color-button {
    width: 75px;
    height: 55px;
    margin: 5px;
    /* border: 2px solid black; */
    border-radius: 50%;
    opacity: 1;

    cursor: pointer;
}

.litUp {
    /* opacity: 1; */
    /* border: 5px solid black; */
    box-shadow: inset 0px 0px 10px 4px black;
    box-sizing: border-box;

}

.notLitUp {
    /* opacity: .6; */
}