.Game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    margin-top: 7vh;
    position: relative;
    z-index: 1;
    background-color: lightgray;
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
}