.guess-circle-container{
    height: 5vw;
    width: 5vw;
    display: flex;
    justify-content: center;
}
.guess-circle {
    width: 4vw;
    height: 4vw;
    margin: 5px;
    box-shadow: inset -5px -5px 12px 3px rgb(66, 65, 65);
    border-radius: 50%;
    opacity: 1;
    background-color: #FFFFFF;
    cursor: pointer;
    align-self: center;
}

.guess-circle-modal {
    width: 4vw;
    height: 4vw;
    margin: 5px;
    border: 2px dotted black;
    border-radius: 50%;
    opacity: .05;
    background-color: #FFFFFF;
    align-self: center;
}

.plain-circle {
    width: 2vw;
    height: 2vw;
    margin: 5px;
    box-shadow: inset 0px 0px 1px 1px black;
    border-radius: 50%;
    background-color: black;
    align-self: center;
    cursor: pointer;

}