.check-circle{
    box-shadow: inset 0px 0px 3px 0px rgb(66, 65, 65);
}

.check-circles{
    /* width: 32px;
    height: 32px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: .25vw;
    row-gap: .25vw;
    margin-left: .75vw;
    align-self: center;
}

.check-circle {
    width: 1vw;
    height: 1vw;
    margin: 1px;
    border: 2px solid lightgray;
    border-radius: 50%;
    background-color: darkgray;
}