.check-circle{
    box-shadow: inset 0px 0px 3px 0px rgb(66, 65, 65);
}

.check-circles{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    margin-left: 10px;
    margin-top: 10px;
}

.check-circle {
    width: 10px;
    height: 10px;
    margin: 1px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: lightgrey;
}