@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.overlay{
    background: rgba(49,49,49,.8);
}

/* .color-button, .guess-circle{
    opacity: 0.05;
} */
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    z-index: 2;
    /* opacity: 1; */
    padding: 14px 28px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;

}

.start-button-modal {
    align-self: center;
    width: 100px;
    margin: 5px;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
}

.close-button-modal {
    width: 100px;
    cursor: pointer;
    padding: 5px 7px;
    align-self: center;
}