@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Panel {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#new-game-button {
    font-size: 2vh;
    border-radius: 8px;
    height: 3vh;
    align-self: center;
    margin-left: 0.5vw;
    font-family: 'Bebas Neue', cursive;
}

#radio-buttons{
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;

}

.radio-btn{
    align-self: flex-start;
    margin-left: 2vw;

}

